Project Pertama - Arya Kurnia Pambudi/Library/*
Project Pertama - Arya Kurnia Pambudi/Logs/*
Project Pertama - Arya Kurnia Pambudi/Temp/*
Project Pertama - Arya Kurnia Pambudi/.vs/*
Project Pertama - Arya Kurnia Pambudi/obj/*
Project Pertama - Arya Kurnia Pambudi/.vsconfig
Project Pertama - Arya Kurnia Pambudi/*.sln
Project Pertama - Arya Kurnia Pambudi/*.csproj
Project Pertama - Arya Kurnia Pambudi/ProjectSettings/EditorBuildSettings.asset
Project Pertama - Arya Kurnia Pambudi/UserSettings/Layouts/default-2021.dwlt
